/* TO BE UPDATED FROM MAIN CSS */
body {
  background: #000;
  /* FIX FOR CANVAS-SOMETIMES-SCROLLABLE bug*/
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* OOOOOOOOOOOOLD: */
/* #game {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
} */
#game {
  /* margin-top: 1em; */
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
/* NEW */
#game canvas {
  margin: 0 auto;
  display: block;
}
/* //////////////////// */

canvas {
  /* padding: 0;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px; */
}
